<nav class="card-footer text-muted bg footer" width="100%">
{%- if site.show-style-guide %}
    <div class="container">
        <div class="row">
            <div class="col-6 tekst-footer">
                <h4>contact</h4>
                <p>industrieweg 237,<br>Mariakerke</p>
                <h5>Art Directors</h5><br>
                <p>Julie Van De Weerd   Tess Van Duysen</p>
                <p>julievandeweerd@iditory.be   tessvanduysen@iditory.be</p>
            </div>
            <div class="col-6 tekst-footer">
                <a href="winkelmandje.html">
                    <div class="icon-box-icon winkelmandje m-0"></div>
                </a>
                <h4>Winkelmandje</h4>
                <p>Bekijk je winkelmandje</p>
                <h4><a href="sitemap.html" class="link2">Sitemap</a></h4>
                <p>© Copyright 2017 Julie Van De Weerd, Tess Van Duysen</p>
                <p>Dit is een opdracht voor het vak webdesign aan de arteveldehogeschool.</p>
            </div>
        </div>
    </div>
{%- endif %}
</nav>