/*seat booking*/
* {
    margin: 0;
    padding: 0;
}

.seat {
    float: left;
    display: block;
    background: rgb(255, 166, 0);
    width: 30px;
    height: 30px;
    margin: 2px;
    border-radius: 20px;
}

.seat-select {
    display: none;
}

.seat-select:checked+.seat {
    background: red;

}
.groen{
    background: greenyellow;
    margin: 2px;
    border-radius: 20px;
}
.blauw{
    background: skyblue;
    margin: 2px;
    border-radius: 20px;
}
.btn {
    margin: 10px;
}
/*voor de achtergrondkleur bij tabellen*/
.bg-tabel {
    background-color: grey;
    padding: 20px;
}

.bg-cel {
    background-color: lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
/*css mezelf*/
.achtergrond-jumbo{
    background-color: #fee4b3;
}
.happy{
    background-color: $primary;
    color: white;
    margin: none;
    border-radius: none;
    border: none;
}
h1{
    color: #fcbd0b;
    font-weight: bold;
    font-size: 68pt;
}
h2{
    color: #fcbd0b;
    font-weight: bold;
    font-size: 24pt;
}
.winnaar{
    margin-right: 20px;
    border: 2px dashed #9f1255;
}
/*footer*/
.footer{
    background-color: #9f1255;
    margin: none;
    padding: none;
}
.tekst-footer{
    color: #fcbd0b;
}
.btn-footer{
    background-color: #9f1255;
    border: none;
}
.btn-footer:hover{
    background-color: #9f1255;
}
.btn-footer:active{
    background-color: #9f1255;
}
.O{
    text-align: center;
    color: grey;
    font-weight: bold;
}
/*button*/
.wrap {
    float: right;
	top: 50%;
	left: 50%;
	text-align: center;
}

.link {
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	margin: 20px auto;
	max-width: 180px;
	text-decoration: none;
	border-radius: 4px;
	padding: 20px 30px;
}

.link.button {
	color: $primary;
	box-shadow: $primary 0 0px 0px 2px inset;
}

.link.button:hover {
	color: #fcbd0b;
	box-shadow: $primary 0 0px 0px 40px inset;
}
.wrap2 {
    float: right;
	top: 50%;
	left: 50%;
	text-align: center;
}
/*happystudents*/
.happystudent {
    background-color: #fff;
    color: #ffffff;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin: 10px 5px;
    max-width: 315px;
    min-width: 230px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  
  .happystudent *,
  .happystudent *:before,
  .happystudent *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
  }
  
  .happystudent img {
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top;
  }
  
  .happystudent:before,
  .happystudent:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: #fcbd0b;
    opacity: 0.5;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
  }
  
  .happystudent:before {
    -webkit-transform: skew(30deg) translateX(-80%);
    transform: skew(30deg) translateX(-80%);
  }
  
  .happystudent:after {
    -webkit-transform: skew(-30deg) translateX(-70%);
    transform: skew(-30deg) translateX(-70%);
  }
  
  .happystudent figcaption {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    bottom: 0;
    padding: 25px 40% 25px 20px;
  }
  
  .happystudent figcaption:before,
  .happystudent figcaption:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fcbd0b;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    content: '';
    opacity: 0.5;
    z-index: -1;
  }
  
  .happystudent figcaption:before {
    -webkit-transform: skew(30deg) translateX(-100%);
    transform: skew(30deg) translateX(-100%);
  }
  
  .happystudent figcaption:after {
    -webkit-transform: skew(-30deg) translateX(-90%);
    transform: skew(-30deg) translateX(-90%);
  }
  
  .happystudent h3,
  .happystudent p {
    margin: 0;
    opacity: 0;
    letter-spacing: 1px;
  }
  
  .happystudent h3 {
    font-family: 'Teko', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
  }
  
  .happystudent p {
    font-size: 0.9em;
  }
  
  .happystudent a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .happystudent:hover h3,
  .happystudent.hover h3,
  .happystudent:hover p,
  .happystudent.hover p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.9;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  
  .happystudent:hover:before,
  .happystudent.hover:before {
    -webkit-transform: skew(30deg) translateX(-20%);
    transform: skew(30deg) translateX(-20%);
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
  }
  
  .happystudent:hover:after,
  .happystudent.hover:after {
    -webkit-transform: skew(-30deg) translateX(-10%);
    transform: skew(-30deg) translateX(-10%);
  }
  
  .happystudent:hover figcaption:before,
  .happystudent.hover figcaption:before {
    -webkit-transform: skew(30deg) translateX(-40%);
    transform: skew(30deg) translateX(-40%);
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  
  .happystudent:hover figcaption:after,
  .happystudent.hover figcaption:after {
    -webkit-transform: skew(-30deg) translateX(-30%);
    transform: skew(-30deg) translateX(-30%);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;}
  
  .kaart{
      margin-left: auto;
  }






  // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .kaart{
        float: left;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .jumbotron-reservatie  {
        background-position: center -400px;
        height: 300px;
    }
    .jumbotron-algemeen {
        height: 300px;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }