/*algemeen*/
h1{
    font-size: 40pt;
}
.link1{
    color: $primary;
    font-weight: bold;
}
.link2{
    color: #fcbd0b;
    text-align: center;
}

/*kaart google*/
.googlemaps{
    width: 350px;
    height: 350px;
}
/*seat booking*/
* {
    margin: 0;
    padding: 0;
}

.seat {
    float: left;
    display: block;
    background: $primary;
    width: 20px;
    height: 20px;
    margin: 2px;
    border-radius: 6px;
}

.seat-select {
    display: none;
}

.seat-select:checked+.seat {
    background: #fee4b3;

}
.groen{
    background: #fcbd0b;
    margin: 2px;
}
.blauw{
    background: #0FCEEB;
    margin: 2px;
}
.btn {
    margin: 10px;
}
.categorie-a{
    background-color: #fcbd0b;
}
.categorie-b{
    background-color: #0FCEEB;
}
.categorie-c{
    background-color: $primary;
}
.O{
    text-align: center;
    color: grey;
    font-weight: bold;
    font-size: 10pt;
}

/*tabellen*/
.bg-cel {
    background-color: #fee4b3 !important;
    padding: 20px;
    color: $primary !important;
}
/*css mezelf*/
.achtergrond-jumbo{
    background-color: #fee4b3;
    margin-top: 20px;
}
.happy{
    background-color: $primary;
    color: white;
    margin: none;
    border-radius: 0px;
    border: none;
    text-align: center;
}
h1{
    color: #fcbd0b;
    font-weight: bold;
}
h2{
    color: #fcbd0b;
    font-weight: bold;
    font-size: 24pt;
}
.winnaar{
    margin-right: 20px;
    border: 2px dashed $primary;

}
.text-win{
    text-align: right;
}
/*footer*/
.footer{
    background-color: $primary;
    margin: none;
    padding: none;
}
.tekst-footer{
    color: #fcbd0b;
    font-size: 7pt;
}
.btn-footer{
    background-color: $primary;
    border: none;
}
.btn-footer:hover{
    background-color: $primary;
}
.btn-footer:active{
    background-color: $primary;
}

/*button*/
.wrap {
    float: right;
	top: 50%;
	left: 50%;
	text-align: center;
}

.link {
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	margin: 20px auto;
	max-width: 180px;
	text-decoration: none;
	border-radius: 4px;
    padding: 20px 30px;
}

.link.button {
	color: $primary;
	box-shadow: $primary 0 0px 0px 2px inset;
}

.link.button:hover {
	color: #fcbd0b;
    box-shadow: $primary 0 0px 0px 40px inset;
    text-decoration: none;
}
.wrap2 {
    float: right;
	top: 50%;
	left: 50%;
	text-align: center;
}
.btn-student{
    margin-right: 55px;
}
.btn-student:hover {
	color: #fcbd0b;
    box-shadow: $primary 0 0px 0px 50px inset !important;
    text-decoration: none;
}
.btn-registreer{
    margin-right: 55px;
}
.btn-registreer:hover {
	color: #fcbd0b;
    box-shadow: $primary 0 0px 0px 60px inset !important;
    text-decoration: none;
}
.btn-secondary{
    background-color: $primary;
    color: #fcbd0b;
    text-decoration: none;
    border: none;
}
.btn-secondary:hover{
    background-color: #fcbd0b;
    color: $primary;
    text-decoration: none;
    border: none;
}
.verder{
    float: right
}
/*happystudents*/
.happystudent {
    background-color: #fff;
    color: #ffffff;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin: 10px 5px;
    max-width: 315px;
    min-width: 230px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  
  .happystudent *,
  .happystudent *:before,
  .happystudent *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
  }
  
  .happystudent img {
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top;
  }
  
  .happystudent:before,
  .happystudent:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: #fcbd0b;
    opacity: 0.5;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
  }
  
  .happystudent:before {
    -webkit-transform: skew(30deg) translateX(-80%);
    transform: skew(30deg) translateX(-80%);
  }
  
  .happystudent:after {
    -webkit-transform: skew(-30deg) translateX(-70%);
    transform: skew(-30deg) translateX(-70%);
  }
  
  .happystudent figcaption {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    bottom: 0;
    padding: 25px 40% 25px 20px;
  }
  
  .happystudent figcaption:before,
  .happystudent figcaption:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fcbd0b;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    content: '';
    opacity: 0.5;
    z-index: -1;
  }
  
  .happystudent figcaption:before {
    -webkit-transform: skew(30deg) translateX(-100%);
    transform: skew(30deg) translateX(-100%);
  }
  
  .happystudent figcaption:after {
    -webkit-transform: skew(-30deg) translateX(-90%);
    transform: skew(-30deg) translateX(-90%);
  }
  
  .happystudent h3,
  .happystudent p {
    margin: 0;
    opacity: 0;
    letter-spacing: 1px;
  }
  
  .happystudent h3 {
    font-family: 'Teko', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
  }
  
  .happystudent p {
    font-size: 0.9em;
  }
  
  .happystudent a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .happystudent:hover h3,
  .happystudent.hover h3,
  .happystudent:hover p,
  .happystudent.hover p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.9;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  
  .happystudent:hover:before,
  .happystudent.hover:before {
    -webkit-transform: skew(30deg) translateX(-20%);
    transform: skew(30deg) translateX(-20%);
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
  }
  
  .happystudent:hover:after,
  .happystudent.hover:after {
    -webkit-transform: skew(-30deg) translateX(-10%);
    transform: skew(-30deg) translateX(-10%);
  }
  
  .happystudent:hover figcaption:before,
  .happystudent.hover figcaption:before {
    -webkit-transform: skew(30deg) translateX(-40%);
    transform: skew(30deg) translateX(-40%);
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  
  .happystudent:hover figcaption:after,
  .happystudent.hover figcaption:after {
    -webkit-transform: skew(-30deg) translateX(-30%);
    transform: skew(-30deg) translateX(-30%);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;}
  
  .kaart{
      margin-left: 20px;
      padding-top: 20px;
      width: 15rem;
  }

/*sprites*/
.icon-box-icon {
    background: url("../../images/sprite.png");
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    overflow: hidden;
    text-indent: -999rem;
    float:left;
}
.winkelmandje{
    background-position: 0px 0px;
}
.facebook{
    background-position: -200px -200px;
    margin: -300px;
}
.icon-box-icon.facebook{
    margin-top: -30px !important;
    margin-left:-20px !important;
    margin-bottom: -60px !important;
}
.student{
    background-position :-200px 0px;
}
.registreer{
    background-position: 0px -200px;
}
.icon-box-icon.student{
    margin: auto !important;
}
.icon-box-icon.registreer{
    margin: auto !important;
}
.card{
    margin-top: 20px;
    margin-bottom: 50px;
}
/*radio button*/
.center-on-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  input.radio[type="checkbox"],
  input.radio[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  label.radio {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 10px;
    line-height: 36px;
    cursor: pointer;
  }
  label.radio::before {
    content: " ";
    position: absolute;
    top: 6px;
    left: 0;
    display: block;
    width: 24px;
    height: 24px;
    border: 2px solid $primary;
    border-radius: 4px;
    z-index: -1;
  }
  input.radio[type="radio"] + label.radio::before {
    border-radius: 18px;
  }
  input.radio[type="checkbox"]:checked + label.radio,
  input.radio[type="radio"]:checked + label.radio {
    padding-left: 10px;
    color: #fcbd0b;
  }
  input.radio[type="checkbox"]:checked + label.radio::before,
  input.radio[type="radio"]:checked + label.radio::before {
    top: 0;
    width: 100%;
    height: 100%;
    background: $primary;
  }
  label.radio,
  label.radio::before {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  .lijst{
      list-style: none;
  }
  // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    
    }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .kaart{
        margin-left: 60px;
        padding-top: 20px;
        width: 30rem;
    }
    h1{
        font-size: 50pt;
    }
    .seat{
        width: 40px;
        height: 40px;
        border-radius: 13px;
    }
    .O{
        font-size: 15pt;
    }
    .googlemaps{
        width: 600px;
        height: 350px;
    }
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .jumbotron-reservatie  {
        background-position: center -400px;
        height: 300px;
    }
    .jumbotron-algemeen {
        height: 300px;
    }
    .seat{
        width: 60px;
        height: 60px;
        border-radius: 20px;
    }
    h1{
        font-size: 50pt;
    }
    .kaart{
        margin-left: 0px;
        padding-top: 20px;
        width: 30rem;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }